<% provide(:title, 'Terms') %>
<h1>Terms</h1>
<p><center>
  UConn Ticket Page is not responsible for any user behavior; including selling fake tickets, not showing up to meeting, or changing prices.

  UConn Ticket Page is a registered trademark.  © 2013 Team 6.  All rights reserved.
  </center>
</p>